<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid container">
            <img src="https://res.cloudinary.com/df9rcxvpg/image/upload/v1743151551/UI%20Evolution/logo.png" alt="Logo">
            <a class="navbar-brand display-2 fw-bold" style="color: #3b82f6;" routerLink="/home">UI Evolution</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home"
                            routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/features"
                            routerLinkActive="active">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/pricing"
                            routerLinkActive="active">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/contact"
                            routerLinkActive="active">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/about"
                            routerLinkActive="active">About-Us</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <ng-container *ngIf="isLoggedIn(); else authButtons">
                        <a class="nav-link text-center" aria-current="page" routerLink="/profile"
                            routerLinkActive="active">
                            <i class="bi bi-person-circle fa-2xl"></i>
                        </a>
                    </ng-container>
                    <ng-template #authButtons>
                        <div class="button-group">
                            <button class="btn btn-outline-success" routerLink="/sign-up">SignUp/SignIn</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </nav>
</header>