<div class="signin-container mb-5">
    <img src="https://res.cloudinary.com/df9rcxvpg/image/upload/v1743151551/UI%20Evolution/logo.png" alt="Logo">
    <h2 class="text-center">Sign In</h2>
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <div class="mb-3">
            <label for="name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your first name" required
                formControlName="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required
                formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" required
                formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <div class="signup-link">
        Don't have an account? <a routerLink="/sign-up">Sign Up</a>
    </div>
</div>